<a href="https://colab.research.google.com/github/aarushitahil/toolsfordatascience/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List libraries commonly used by Data Scientists

*   List Data Science tools

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   Scala

Some of the commonly used libraries used by Data Scientists are:


1.   Seaborn
2.   TensorFlow
3.   Pandas

| **Data Science Tools** |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Aarushi Tahilramani